<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SpeechRecognizerStrategy" value="Windows"/>
    <add key="SpeechSynthesiserStrategy" value="Windows"/>
    <add key="SpeechSubscriptionKey" value="CHANGEME"/>
    <add key="SpeechRegion" value="CHANGEME"/>
  </appSettings>
</configuration>
