<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SpeechRecognizerStrategy" value="Windows"/>
    <add key="SpeechSynthesisStrategy" value="Windows"/>
    <add key="SpeechSubscriptionKey" value="SpeechSubscriptionKey"/>
    <add key="SpeechRegion" value="SpeechRegion"/>
  </appSettings>
</configuration>
